@import '../../styles/common';

.container{
  position:relative;
  @extend %textInput;
  height:40px;

  &.focus {
    & .drop{
      display:block;
    }
  }
  & .drop{
    margin:-1px;
    border:1px solid $color-input-border;
    border-top-width:0px;
    position:absolute;
    left:0;
    top:40px;
    right:0;
    display:none;
  }
}


