@import '../../styles/common';

.container{
  padding:5px 0;

  & .item{
    display:flex;
    align-items:center;
    font-size:12px;
    cursor:pointer;
    height:28px;
    padding: 0 9px;
    color:$color-input-placeholder;
    &:hover{
      color:$color-black;
    }
  }
}


