@import '../../styles/variables';

.ColorSelect {
  display: flex;
  align-items: center;
}

.Item{
  cursor:pointer;
  display: inline-block;
  border-radius: 10px;

  margin:4px;
  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover{
    box-shadow: 0 0 0 2px $color-brand-primary;
  }

  &.selected {
    transition: box-shadow $transition-nano;
    box-shadow: 0 0 0 4px $color-brand-primary;
  }
}