@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../../styles/variables';


.CarsList{
  display:block;
  @include media-breakpoint-up('md'){
    display:table;
  }
}

.Header{
  background-color: $color-brand-primary;
  display:table-row;
}

.HeaderCell{
  &:first-child{
    border-radius: 4px 0 0 0;
  }
  &:last-child{
    border-radius: 0 4px 0 0;
  }
  font-size:15px;
  color:white;
  font-weight:700;
  padding:16px;
  display:table-cell;
}