$color-brand-primary: #c4092f;
$color-black: #111111;
$color-almost-black: #282d30;

$color-input-placeholder: #999999;
$color-input-border: #dcdcdc;

$color-gray-dark: #8b9497;

$transition-nano: .08s linear;
$transition-normal: .18s linear;
$transition-presentational: .5s linear;


// Custom bootstrap
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 700px,

) !default;

$container-max-widths: (
        sm: 700px,
        md: 960px,

) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;
$grid-row-columns: 6 !default;