$color-brand-primary: #c4092f;
$color-black: #111111;
$color-almost-black:#282d30;

$color-input-placeholder: #999999;
$color-input-border: #dcdcdc;


$transition-nano:.08s linear;
$transition-normal: .18s linear;
$transition-presentational:.5s linear;